@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
  }
  
  .animate-border {
    animation: border 4s linear infinite;
  }
  
  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }